In [10]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
from time import sleep
from random import randint
from requests import get

In [11]:
titles = []
years = []
imdb_ratings = []

In [12]:
pages = np.arange(1, 100, 50)
pages

array([ 1, 51])

In [13]:
for page in pages:
    page = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=' + 
                        str(page) + '&ref_=adv_nxt')
    soup = BeautifulSoup(page.text, 'html.parser')
    movie_div = soup.find_all('div', class_='lister-item mode-advanced')
    
    for i in movie_div:
        name = i.h3.a.text
        titles.append(name)
        
        year = i.h3.find('span', class_='lister-item-year').text
        years.append(year)
        
        imdb = float(i.strong.text)
        imdb_ratings.append(imdb)

In [14]:
movies = pd.DataFrame({'movie':titles,
                       'year':years,
                       'imdb_rating':imdb_ratings,
                       })

movies

                                movie    year  imdb_rating
0            The Shawshank Redemption  (1994)          9.3
1                       The Godfather  (1972)          9.2
2                     The Dark Knight  (2008)          9.0
3              The Godfather: Part II  (1974)          9.0
4                        12 Angry Men  (1957)          9.0
..                                ...     ...          ...
95                Singin' in the Rain  (1952)          8.3
96                Ladri di biciclette  (1948)          8.3
97                       Citizen Kane  (1941)          8.3
98  M - Eine Stadt sucht einen Mörder  (1931)          8.3
99                            The Kid  (1921)          8.3

[100 rows x 3 columns]

In [19]:
movies.to_csv("E:\\python\\internship\\Web scrapping 1\\imdb_top100_movies.csv",header=0)