In [1]:
import selenium
import pandas as pd
from selenium import webdriver 
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [2]:
driver = webdriver.Chrome(r"C://chromedriver.exe")
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [3]:
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

In [4]:
bname = driver.find_elements_by_xpath("//table[@class = 'in-article sortable']//tbody//tr//td[2]")

for i in bname :
    bk_name = i.text
    Book_name.append(bk_name)

#Book_name

In [5]:
aname = driver.find_elements_by_xpath("//table[@class = 'in-article sortable']//tbody//tr//td[3]")

for i in aname :
    at_name = i.text
    Author_name.append(at_name)

#Author_name

In [6]:
volume = driver.find_elements_by_xpath("//table[@class = 'in-article sortable']//tbody//tr//td[4]")

for i in volume :
    vol = i.text
    Volumes_sold.append(vol)

#Volumes_sold

In [7]:
pub = driver.find_elements_by_xpath("//table[@class = 'in-article sortable']//tbody//tr//td[5]")

for i in pub :
    publ = i.text
    Publisher.append(publ)

#Publisher

In [8]:
gen = driver.find_elements_by_xpath("//table[@class = 'in-article sortable']//tbody//tr//td[6]")

for i in gen :
    genr = i.text
    Genre.append(genr)

#Genre

In [9]:
Novels= pd.DataFrame({})
Novels['Book Name']= Book_name
Novels['Author Name']= Author_name
Novels['Volumes Sold']= Volumes_sold
Novels['Publisher']= Publisher
Novels['Genre']= Genre


Novels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [10]:
driver.quit()