In [1]:
import selenium
import pandas as pd
from selenium import webdriver 
import time

In [2]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [3]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [4]:
search_job = driver.find_element_by_xpath("//input[@name='sc.keyword']")
search_job.clear()
search_job.send_keys("Data Scientist")

search_loc = driver.find_element_by_xpath("//input[@id='LocationSearch']")
search_loc.clear()
search_loc.send_keys("Noida")

search_button = driver.find_element_by_xpath("//button[@id='HeroSearchButton']")
search_button.click()

time.sleep(5)

In [5]:
company = []
no_of_salaries = []
avg_sal = []
min_sal = []
max_sal= []

In [6]:
company_tag = driver.find_elements_by_xpath("//p[2][@class='m-0 ']")
#company_tag[0:11]
for i in company_tag:
    titles = i.text
    company.append(titles)

company[0:10]

['Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'IBM',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'ZS Associates',
 'EXL Service']

In [7]:
sal_num_tag = driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
#company_tag[0:11]
for i in sal_num_tag:
    sal_num = i.text
    no_of_salaries.append(sal_num)

no_of_salaries[0:10]

['14 salaries',
 '14 salaries',
 '14 salaries',
 '13 salaries',
 '12 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '7 salaries',
 '7 salaries']

In [8]:
sal_avg_tag = driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
#company_tag[0:11]
for i in sal_avg_tag:
    sal_avg = i.text
    avg_sal.append(sal_avg)

avg_sal[0:10]

['₹ 5,97,967',
 '₹ 11,12,243',
 '₹ 12,12,741',
 '₹ 7,37,972',
 '₹ 7,15,984',
 '₹ 13,41,900',
 '₹ 7,90,812',
 '₹ 11,81,047',
 '₹ 9,89,924',
 '₹ 11,73,127']

In [9]:
sal_min_tag = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]")
#company_tag[0:11]
for i in sal_min_tag:
    sal_min = i.text
    min_sal.append(sal_min)

min_sal[0:10]

['₹333K',
 '₹560K',
 '₹436K',
 '₹569K',
 '₹350K',
 '₹1,037K',
 '₹487K',
 '₹602K',
 '₹196K',
 '₹558K']

In [10]:
sal_max_tag = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")
#company_tag[0:11]
for i in sal_max_tag:
    sal_max = i.text
    max_sal.append(sal_max)

max_sal[0:10]

['₹1,080K',
 '₹2,147K',
 '₹11,274K',
 '₹2,648K',
 '₹1,565K',
 '₹1,500K',
 '₹1,421K',
 '₹1,644K',
 '₹1,755K',
 '₹1,500K']

In [11]:
jobs= pd.DataFrame({})
jobs['Company']=company[0:10]
jobs['No of Salaries']=no_of_salaries[0:10]
jobs['Average Salary']=avg_sal[0:10]
jobs['Minimum Salary']=min_sal[0:10]
jobs['Maximum Salary']=max_sal[0:10]

jobs

,Company,No of Salaries,Average Salary,Minimum Salary,Maximum Salary
0,Tata Consultancy Services,14 salaries,"₹ 5,97,967",₹333K,"₹1,080K"
1,Accenture,14 salaries,"₹ 11,12,243",₹560K,"₹2,147K"
2,Delhivery,14 salaries,"₹ 12,12,741",₹436K,"₹11,274K"
3,IBM,13 salaries,"₹ 7,37,972",₹569K,"₹2,648K"
4,Ericsson-Worldwide,12 salaries,"₹ 7,15,984",₹350K,"₹1,565K"
5,UnitedHealth Group,10 salaries,"₹ 13,41,900","₹1,037K","₹1,500K"
6,Valiance Solutions,9 salaries,"₹ 7,90,812",₹487K,"₹1,421K"
7,Innovaccer,8 salaries,"₹ 11,81,047",₹602K,"₹1,644K"
8,ZS Associates,7 salaries,"₹ 9,89,924",₹196K,"₹1,755K"
9,EXL Service,7 salaries,"₹ 11,73,127",₹558K,"₹1,500K"

In [12]:
driver.quit()