In [1]:
#! pip install selenium

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [4]:
#driver.close()

In [5]:
driver.get('https://www.naukri.com/')

In [6]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")

search_button = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [7]:
url = 'https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore'

In [8]:
driver.get(url)

In [9]:
job_title = []
job_loc = []
company = []
experience = []

In [10]:
title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:11]

[<selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="d24829f8-2fc2-4e23-b6b4-7c06bd39dde0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="f4bd72d9-bf35-4c53-9a6d-c1aee593076e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="6345b9d0-0fcf-43b0-976a-2aecd4e661fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="de9228cd-cd00-49ed-a50a-f976cb59d165")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="6c82559d-834d-4510-97de-b57d8961f715")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="ea9b85b7-b198-4805-9426-ad138be6a681")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="e11ce770-f039-40fd-b4b7-5cb762707751")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="2cb4d1e7-024d-484e-be39-9670d833731a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="7b266a52-8f02-43dd-9d14-d78b1e9af67f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="ffd61a53-25fa-493f-8d18-ed25fe2d8e9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="513ba01c-c3b8-4038-acfa-a62b8f16ec38")>]

In [11]:
for i in title_tags:
    titles = i.text
    job_title.append(titles)

job_title[0:10]

['Data Engineer/Data Analyst- Chennai',
 'Azure Data Analyst',
 'Data Analyst',
 'Executive - Data Analyst',
 'Data Analyst',
 'Data Analyst - Alteryx, Tableau and SQL',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [12]:
#loc_tags = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']/span[3]")
loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
loc_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="9b012a08-0051-4745-b69c-b157766d78d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="a09aa578-974b-4d7a-8927-c5acadca29fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="a3e04002-6da8-4391-8e79-655418fa121b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="8659f117-ddc7-4bfd-92cc-35a62751d02d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="287066bd-4d4a-4474-a227-f0e5b7f022db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="a0b316e2-f7ab-4a2b-b406-2813cf98f727")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="90e4531f-8401-41a0-98c4-d1ab05c3791f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="d74da1d4-5827-4709-ba61-ef3f6201e77b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="81250499-d5a9-4637-b0f6-e9b8302fc7a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="b437e962-b89f-4696-88d2-c62e0eacc194")>]

In [13]:
for i in loc_tags:
    locs= i.text
    job_loc.append(locs)
    
job_loc[0:10]

['Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Devalapur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [14]:
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="46906a86-fe3a-4598-98f5-5c06c066749b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="a7ace5fa-2082-4a5a-8564-75c68a7d270a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="896a84b8-ed48-44a8-bb0b-d70aca25bac0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="d2648e23-7b22-4613-8a66-dd23280229bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="60e01dc0-2cd8-4091-b8c2-0a60ac84ede6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="8b01b735-1602-43c8-ab43-904cce1887c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="b2a25462-3c8e-435e-a4c6-1c5178397a0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="681ae925-5d2d-438a-acf5-843d73cb448f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="b1c221c5-a657-4f07-89a1-c56365c90c9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="ef91fcbe-4d5b-4e32-8a29-64b6daaf8a3e")>]

In [15]:
for i in company_tags:
    comp= i.text
    company.append(comp)
    
company[0:10]

['Inflexion Analytix Private Limited',
 'Capgemini Technology Services India Limited',
 'Super India Tech Mark',
 'Flipkart Internet Private Limited',
 'CONDUENT BUSINESS SERVICES INDIA LLP',
 'Schneider Electric',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.']

In [16]:
exp_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="49daed62-ee1a-4b1b-9d78-ce44f068016e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="97b30965-e4bb-48a3-8327-e534f9dc9730")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="0000d17b-8e28-40bc-979c-221ae18d7bd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="f2383d7b-7816-4caa-8534-77a296c0bfb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="008df0c0-0ebd-43e8-9cd8-f2d408d442cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="d89dbbe3-0b1a-4bb0-bf33-a69f76e9e58d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="af6530ca-c4c4-4278-8912-8931cbbead31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="a5ab7488-d362-4220-8de8-fad20b180e41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="f12f6d95-af7d-41ae-9cc5-0ebbb9d19ae3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="02d038be2cb11ac64c80ee1300d0c5a7", element="f31671fa-8eb8-42ac-bc02-b6e366545751")>]

In [17]:
for i in exp_tags:
    exp = i.text
    experience.append(exp)
    
experience[0:10]

['0-2 Yrs',
 '6-8 Yrs',
 '0-2 Yrs',
 '1-3 Yrs',
 '1-2 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '4-8 Yrs',
 '3-8 Yrs',
 '4-8 Yrs']

In [18]:
print(len(job_title),len(job_loc),len(company),len(experience))

20 20 20 20

In [19]:
jobs= pd.DataFrame({})
jobs['Title']=job_title[0:10]
jobs['Location']=job_loc[0:10]
jobs['Company']=company[0:10]
jobs['Experience']=experience[0:10]

In [20]:
jobs

,Title,Location,Company,Experience
0,Data Engineer/Data Analyst- Chennai,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Inflexion Analytix Private Limited,0-2 Yrs
1,Azure Data Analyst,Bangalore/Bengaluru,Capgemini Technology Services India Limited,6-8 Yrs
2,Data Analyst,Bangalore/Bengaluru(Devalapur),Super India Tech Mark,0-2 Yrs
3,Executive - Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,1-3 Yrs
4,Data Analyst,Bangalore/Bengaluru,CONDUENT BUSINESS SERVICES INDIA LLP,1-2 Yrs
5,"Data Analyst - Alteryx, Tableau and SQL",Bangalore/Bengaluru,Schneider Electric,2-5 Yrs
6,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-8 Yrs
9,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs

In [21]:
driver.close()