In [1]:
import selenium
import pandas as pd
from selenium import webdriver 
import time

In [2]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [3]:
driver.get('https://www.flipkart.com/')

In [4]:
cancel_button = driver.find_element_by_xpath("//button[@class ='_2KpZ6l _2doB4z']")
cancel_button.click()

In [5]:
search_item = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_item.clear()
search_item.send_keys("sneakers")

search_button = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [6]:
brand = []
description = []
price = []
discount = []

In [7]:
time.sleep(5)

In [8]:
final_link=[]
link_url = driver.find_elements_by_xpath("//a[@class='ge-49M' or @class ='ge-49M _2Kfbh8']")[0:3]

for i in link_url:
    links = i.get_attribute('href')
    final_link.append(links)

final_link

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [9]:
for page in final_link:
    
    brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tag:
        bb=i.text
        brand.append(bb)
    
    desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in desc_tag:
        desc=i.text
        description.append(desc)
        
        
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price_tag[0:40]:
        cost=i.text
        price.append(cost)
        #price
        
    
    discount_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in discount_tag[0:40]:
        disc=i.text
        discount.append(disc)

In [10]:
sneakers= pd.DataFrame({})
sneakers['Brand']=brand[0:100]
sneakers['Description']=description[0:100]
sneakers['Price']=price[0:100]
sneakers['Discount']=discount[0:100]

In [11]:
sneakers

,Brand,Description,Price,Discount
0,Stinson,Combo Pack Of 3 Sneakers For Men,₹489,67% off
1,French Connection,Sneakers For Men,₹680,65% off
2,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹499,72% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
4,Chevit,Super & Trendy Men's Pack of 02 Pair Shoes for...,₹420,78% off
...,...,...,...,...
95,richerson,Synthetic Leather Casual Partywear Wedding Sne...,₹455,54% off
96,Birde,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,₹299,40% off
97,Chevit,White Sneakers Sneakers For Men,₹254,74% off
98,India hub,Sneakers Sneakers For Men,₹407,79% off
99,BRUTON,170 Smart Grey Lace-Ups Casuals for Men Sneake...,₹499,87% off

In [12]:
driver.quit()