In [1]:
import selenium
import pandas as pd
from selenium import webdriver 
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.clear()
search_job.send_keys("Data Scientist")

search_button = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [5]:
#url = 'https://www.naukri.com/data-scientist-jobs?k=data%20scientist'

In [6]:
#driver.get(url)

In [7]:
job_title = []
job_loc = []
company = []
experience = []

In [8]:
time.sleep(3)

In [9]:
filter_button = driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in filter_button:
    if i.text=='Delhi / NCR':
        i.click()
        break

In [10]:
time.sleep(3)

In [11]:
filter_button = driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in filter_button:
    if i.text=='3-6 Lakhs':
        i.click()
        break

In [12]:
time.sleep(3)

In [13]:
title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:11]
for i in title_tags:
    titles = i.text
    job_title.append(titles)

job_title[0:10]

['Data Scientist - IBM Garage',
 'Females Required- Data Scientist- Noida',
 'Data Scientist - Python & Machine Learning',
 'Data Scientist - Python & Machine Learning',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC',
 'Data Scientist - Hadoop/BigQuery',
 'Data Scientist - Python / Machine Learning / Tableau / Power BI',
 'Data Scientist - Python & Machine Learning',
 'Required- Data Scientist (NLP)-Axis Bank - 6 months contract',
 'Data Scientist - Python / Machine Learning / Tableau / Power BI']

In [14]:
loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
loc_tags[0:10]
for i in loc_tags:
    locs= i.text
    job_loc.append(locs)
    
job_loc[0:10]

['Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Mumbai, Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR']

In [15]:
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]
for i in company_tags:
    comp= i.text
    company.append(comp)
    
company[0:10]

['IBM India Pvt. Limited',
 'Randstad',
 'FUTURES AND CAREERS',
 'FUTURES AND CAREERS',
 'GABA Consultancy services',
 'Jubna',
 'FUTURES AND CAREERS',
 'FUTURES AND CAREERS',
 'Axis Bank Limited',
 'FUTURES AND CAREERS']

In [16]:
exp_tags_temp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for j in exp_tags_temp:
    exp = j.get_attribute('title')
    experience.append(exp)
#exp_tags[0:10]
#for i in exp_tags:
#    ex = i.text
#    experience.append(ex)
#    
experience[0:10]

['5-8 Yrs',
 '3-7 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '0-5 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '4-9 Yrs',
 '3-8 Yrs']

In [17]:
jobs= pd.DataFrame({})
jobs['Title']=job_title[0:10]
jobs['Location']=job_loc[0:10]
jobs['Company']=company[0:10]
jobs['Job Description']=experience[0:10]

In [18]:
jobs

,Title,Location,Company,Job Description
0,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,5-8 Yrs
1,Females Required- Data Scientist- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",Randstad,3-7 Yrs
2,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",FUTURES AND CAREERS,2-7 Yrs
3,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",FUTURES AND CAREERS,2-7 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-5 Yrs
5,Data Scientist - Hadoop/BigQuery,Noida,Jubna,3-6 Yrs
6,Data Scientist - Python / Machine Learning / T...,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",FUTURES AND CAREERS,3-8 Yrs
7,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",FUTURES AND CAREERS,2-7 Yrs
8,Required- Data Scientist (NLP)-Axis Bank - 6 m...,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",Axis Bank Limited,4-9 Yrs
9,Data Scientist - Python / Machine Learning / T...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",FUTURES AND CAREERS,3-8 Yrs

In [19]:
driver.quit()